.paginated-select {
  &-dropdown {
    .paginated-select-pagination {
      padding: 8px 12px;
      border-top: 1px solid #f0f0f0;
      display: flex;
      justify-content: center;
      background: #fff;
    }

    .paginated-select-loading {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px;
      gap: 8px;
      color: #999;
    }
  }
}
